# KiCad temporary and local preference files
*.kicad_prl
*.bak
*-bak
*-backups/
fp-info-cache

# Editor and tool history
.history/

# KiCad manufacturing outputs (optional but highly recommended to ignore)
# Remove the # if you want to ignore them
#*.gbr
#*.drl
#*.rpt
#*.pos
#*.bcm

# Netlists and CAD exports
*.net
*.dxf